.countdown .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  gap: 12px;
}

.countdown .box {
  width: calc(100% / 4);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 150px;
  max-width: 150px;
}

.countdown .value {
  font-size: 30px;
  font-weight: 600;
  background-color: #a11a2c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 80px;
  height: 80px;
  position: relative;
  box-shadow: -2px 0px 5px 1px #232423ad;
}

.countdown .label {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 4px;
  margin-top: 10px;
}

@media (min-width: 1025px) {
  .countdown .content {
      gap: 30px;
  }
  .countdown .value {
      font-size: 50px;
      width: 120px;
      height: 120px;
  }
  .countdown .box {
      height: 200px;
      max-width: 200px;
  }
}

@media screen and (max-width: 480px) {
  .countdown .content {
margin-right: 50px;
    gap: 65px;
}
  .countdown .value {
      font-size: 50px;
      height: 100px;
      width: 100px;
  }
  .countdown .box {
    
      max-width: 40px;
      height: 40px;
  }
  .countdown .label {
    color: black;
    font-size: 20px;
    font-weight: 200;
    letter-spacing: 4px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  .countdown .content {
    gap: 45px;
}
  .countdown .value {
      font-size: 30px;
      height: 60px;
      width: 60px;
  }
  .countdown .box {
      max-width: 20px;
      height: 20px;
  }
  .countdown .label {
    font-size: 10px;
    font-weight: 100;
    letter-spacing: 2px;
    margin-top: 5px;
  }
}
