*{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.logo-container {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 0.9rem;
  display: inline-block;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.logo1 {
  width: 4.4rem;
  height: auto;
  margin: 0 8px;
  transition: transform 0.3s ease;
}
.logo2 {
  width: 6.25rem;
  height: auto;
  margin: 0 0.5rem;
  transition: transform 0.3s ease;
}

.logo1:hover {
  transform: scale(1.1);
}
.logo2:hover {
  transform: scale(1.1);
}


.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8rem;
}

.centered-text {
  margin-top: -8.75rem; /* قيمة سالبة لرفع النص أكثر، يمكنك تعديلها حسب الحاجة */
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.8);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 1.25rem;
  padding: 1.25rem;
  font-size: 1.5em;
}
/* الأنماط الحالية تبقى كما هي */


@media (min-width: 1025px) {
  .logo-container {
    padding: 0.625rem;
  }

  .logo1, .logo2 {
    width: 3.125rem;
  }

  .text-container {
    gap: 4rem;
  }

  .centered-text {
    margin-top: -70px;
    font-size: 1.2em;
    padding: 15px;
  }
}


@media (min-width: 481px) and (max-width: 1024px) {
  .logo1, .logo2 {
    width: 40px;
  
  }

  .text-container {
    gap: 45px;
    margin-left:7rem;
  }

  .centered-text {
    margin-top: -70px;
    font-size: 1em;
    padding: 1.6rem;

  }
}
.centeredCountDown{
  margin-top: -70px;
  font-size: 1em;
  padding: 1.6rem;
  margin-right: 7rem;
}

@media (max-width: 480px) {
  .logo1, .logo2 {
    width: 2rem;
    
  }

  .text-container {
    gap: 50px;
    margin-left:1.5rem;
  }

  .centered-text {
    margin-top: -40px;
    font-size: 0.9rem;
    padding: 8px;
    margin-left: 6.3rem;
  }
  .centeredCountDown{
    margin-top: -70px;
    font-size: 1em;
    padding: 1.6rem;
    margin-right: 2rem;
  }
  
}




